.body {
    margin-Top:5vh;
    height:90vh;
    margin-bottom: 5vh;
}

.body-paper {
    background-color: #565454 !important;
    color: white !important;
    height:100%;
    border-radius: 0 !important;
}