.app-footer {
    height: 5vh;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    top:auto;
    background-color: #313236 !important;
    display: flex;
    color: white !important;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    border-radius: 0 !important;
}