.fixed {
    position: fixed;
}

.height {
    height: 50px;
}

.app-header {
    background-color: #313236 !important;
    display: flex;
    color: white !important;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    height: 5vh;
    position: fixed;
    top:0;
    left:0;
    right:0;
}

.header-paper {
    width: 100%;
    background-color: inherit !important;
    color: inherit !important;
    height: inherit;
    display: flex;
}